<footer id="footer">
    <div class="container">
        <h3>Hamza Nael</h3>
        <div class="social-links">
            <a href="https://www.facebook.com/h.nael99" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/hamza_nael99" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/in/hamza-nael-53a8081b3" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="public/assets/vendor/purecounter/purecounter.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="public/assets/vendor/typed.js/typed.min.js"></script>
<script src="public/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="public/assets/js/main.js"></script>